go 1.26.5

use (
	./adapters/db-sql
	./adapters/middleware-cors
	./adapters/migrate-goose
	./adapters/orm-ent
	./adapters/orm-gorm
	./adapters/orm-sqlc
	./adapters/router-chi
	./adapters/router-stdmux
	./cli
	./contracts
	./examples/blog
	./examples/hello
	./examples/routing
	./framework
)
