go 1.26.5

use (
	./adapters/auth-jwt
	./adapters/cache-redis
	./adapters/db-sql
	./adapters/grpc-server
	./adapters/hash-argon2
	./adapters/middleware-cors
	./adapters/migrate-goose
	./adapters/orm-ent
	./adapters/orm-gorm
	./adapters/orm-sqlc
	./adapters/queue-asynq
	./adapters/router-chi
	./adapters/sched-gocron
	./adapters/session-scs
	./adapters/router-stdmux
	./benchmarks
	./cli
	./contracts
	./examples/authdemo
	./examples/blog
	./examples/greeter
	./examples/hello
	./examples/routing
	./framework
)
